<div class="card mt-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="card-body">
        <form action="/search">
            <div class="form-group row">
                <div class="col">
                    <input name="q" type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-danger w-100">Ara</button>
                </div>
            </div>
        </form>
    </div>
</div>
